*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body{
    width: 1100px; 
    background-color: #D4D2AE; 
    margin: 50px auto; 
}

/* Header */
header{
    margin-left: 275px; 
}

header img{
    width: 150px; 
    background-color: white; 
}

/* Main */

main img{
    width: 200px; 
    display: block;
}

.extra{
    padding-top: 30px; 
}

/* Display */
.d-inline-block{
    display: inline-block;
}

/* Borders */
.light-border{
    border: 10px solid #82B4EE; 
}

.drk-border{
    border: 5px solid black; 
}

/* Background */

.bg-warning{
    background-color: #F06B71;
}